

a {
    text-decoration: none;
    color: black;
}

img {
    width: 42px;
    height: 42px;
}

ul {
    list-style: none;
    color:black;
}

body {

}

header {
    background-color: #24292e;
}

span {
    color: black;
}

.repoBlocks {
    width: 125px;
    height: 25px;
    float: left;
    padding: 0px 0px 0px 5px;
}

.repoNav {
    border: 1px solid grey;
    background-color: #dce2ed;
    height: 25px;
}

.container {
    width: 100%;
    margin: auto;
    clear: both;
}

.memberPic {
    width: 50px;
    height: 100px;
    float: left;
}

.memberName {
    width: 300px;
    height: 100px;
    float: left;
}

.status {
    float: right;
    width: 100px;
    height: 100px;
}

.memberTable {

    height: 365px;
    border: 1px solid grey;
}

.teams {
    float: right;
    width: 100px;
    height: 100px;
}