* {
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.row:after {
    display: table;
    clear: both;
    content: '';
    margin: 1.5em;
}

#special {
    margin-top: 2.5em;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.33%;
    margin: 0;
}

.one-fourth {
    width: 25%;
}

.one-eighth {
    width: 12.5%;
}

.offset-one-eighth {
    margin: 50px;
}

.two-thirds {
    width: 66.66%;
}

.three-eighths {
    width: 37.5%;
}

.column {
    float: left;
    color:black;
}


