
@media  screen and (min-width: 992px) {


    html {
        box-sizing: border-box;
        height: 1210px;
        width: 934px;
    }

    nav{
        float: right;
        margin-right: 8px;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        float: left;
        width: 50%;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    .header-img {
        width: auto;
        height: auto;
    }

    img {
        width: auto;
        height: auto;
    }

    section {
        display: inline-block;
        width: 49%;
        height: 400px;
    }

    .sub-section {
    }


    footer>p {
        width: 82%;
        margin: auto;
        display: inline-block;
    }

    #social-media-links {
        display: inline-block;
    }

    .socialMedia {
        height: 3em;
        width: 3em;
        margin: 0;
        float: right;
    }
}

@media  screen and (min-width: 400px) and (max-width: 990px) {

    * {
        width: 339px;
        display: block;
        margin: .6em auto;
        text-align: center;
    }

    img {
    }

    .alert-info {
        border: 1px solid black;
        background-color: lightblue;
    }

    .alert-info > a {

        text-decoration: none;
        color: black;
    }

    li {
        border: 1px solid black;
        background-color: lightgray;
    }

    ul {
        padding: 0;
    }

    h1 {
        font-size: 3.3em;
    }

    p, h2 {
        text-align: left;
    }

    h2 {
        margin-top:2em;
    }

    footer > p {
        margin-top: 4em;
        width: 50%;
        margin-left: 0;
        margin-right: 0;
        position: absolute;

    }

    p {
        font-size: .7em;
    }

    #social-media-links {
        width: 5em;
        position: absolute;
        right: 259px;
        bottom: -68px;

    }

    .socialMedia {
        height: 1.3em;
        width: 1.3em;
        margin: 0;
        float: right;
    }

    footer {
        position: relative;
    }

    title {
        display: none;
    }


}